*{
    margin: 0;
    padding: 0;
}

.background-fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/1.jpg');
    background-size: cover; 
    background-position: center;
    z-index: -2;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.82);
    z-index: -1;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff001f;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

.menu ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.menu ul li a:hover{
    color: #ff001f;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff001f;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff001f;
    border: 2px solid #ff001f;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.sidebar {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.sidebar h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #ff001f;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    display: inline-block;
}

.sidebar ul li {
    margin-bottom: 150px;
    display: inline-block;
    margin-left: 40px;
}

.sidebar ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.sidebar ul li a:hover {
    color: #ff001f;
}

.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    flex-wrap: wrap;
}

.text-container {
    flex: 1;
    padding: 0px;
    max-width: 600px;
}

.image-container {
    flex: 1;
    padding: 80px;
    text-align: center;
}

.responsive-img {
    width: 90%;
    height: auto;
    max-width: 500px;
    margin: 20px auto;
}

#video { 
    color: #fff;
    padding: 50px 50px;
    text-align: center;
    margin-top: 50px; /
}

.video-container iframe {
    width: 80%; 
    max-width: 800px; 
    height: 450px; 
    border-radius: 8px;
}